@import url(./style_padrao.css);
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");


.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 100px 1fr;
  align-items: center;
}

header {
  background: linear-gradient(
    90deg,
    #08232c,
    #123942,
    #215b63,
    #2e7a81,
    #499899
  );
  display: flex;
  width: 100%;
  height: 100%;
  font-family: "Saira", sans-serif;
  align-items: center;
  justify-content: space-between;

  & #infos{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;

    & .user{
      & #separador{
        width: 3px;
        height: 40px;
        background-color: #ffffff;
        border-radius: 2px;
        margin-right: 15px;
      }
    }

    & #username{
      font-size: 20px;
      margin: 5px;
    }
  }

}

header .logo {
  width: 25%;
  display: flex;
  align-items: center;
  padding: 3%;

  & img {
    width: 40%;
  }
}

header .menu {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-end;  

  & span {
    font-size: 20px;
  }

  & i {
    font-size: 30px;
    padding: 20px;
  }
}

header .user {
  width: 25%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  & span {
    padding: 10px;
  }
}



body.sidebar-active main {
  filter: blur(5px);
}

main {
  width: 100%;
  height: 100%;
  background-color: #edeef1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;

  & #container{
    width: 700px;
    height: 300px;
    font-family: Arial, sans-serif;

  }

}
