/*IMPORTANDO FONT DE TEXTO*/
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --gradiente: linear-gradient(
    90deg,
    #041b22 12.72%,
    #041b22 16.22%,
    #041b22 21.72%,
    #041b22 21.73%,
    #07313e 37.72%,
    #0a4457 48.22%,
    #0e617c 58.22%,
    #0e617c 70.2%,
    #0e617c 70.21%,
    #0e617c 72.22%,
    #1e7b92 82.22%,
    #36a3b3 99.98%,
    #5ce1e6 99.99%,
    #27d4d4 100%
  );

  --gradiente-cima-baixo: linear-gradient(
    0deg,
    #041b22 12.72%,
    #041b22 16.22%,
    #041b22 21.72%,
    #041b22 21.73%,
    #07313e 37.72%,
    #0a4457 48.22%,
    #0e617c 58.22%,
    #0e617c 70.2%,
    #0e617c 70.21%,
    #0e617c 79.22%,
    #1e7b92 92.22%,
    #36a3b3 99.98%,
    #5ce1e6 99.99%,
    #27d4d4 100%
  );

  --padding: 50px 100px 75px 100px;
  --cor-primaria: #eee;
  --cor-secundaria: #083b4b;
  --fonte-cor-primaria: #012f32;
  --fonte-cor-secundaria: #c5d1e2;
  --row-gap: 50px;
}

/*"RESETANDO"/RECONFIGURANDO ALGUMAS ESTILIZAÇÕES PADRÕES DOS NAVEGADORES EM TODOS OS COMPONENTES*/

* {
  margin: 0;
  padding: 0;
  font-family: "Saira", sans-serif;
  box-sizing: border-box;
  background: none;
  border: none;
  color: var(--fonte-cor-primaria);
  transition: 0.5s;
}

html {
  font-size: 12px;
  height: 100%;
}

/* BODY */

body {
  height: 100%;
  width: 100%;
  background-color: var(--cor-primaria);
  overflow: hidden;
}
main {
  height: 100%;
  width: 100%;
  background-color: var(--cor-primaria);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 1fr;
  grid-template-areas:
    "header"
    "section";
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 2;
}

#main_index {
  position: relative;
  top: 0;
  left: 0;
}

header {
  grid-area: header;
  background: var(--gradiente);

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 100%;
  grid-template-areas: "img btn";
  justify-content: space-between;
  align-content: center;
  position: sticky;
  top: 0;
  padding: 20px 100px;

  & button {
    grid-area: btn;
    padding: 5px 40px;
    text-transform: uppercase;
    border-radius: 15px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    cursor: pointer;
    width: fit-content;
    height: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    transition: 0.5s ease;
  }

  & button:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    scale: 1.1;
  }

  & .logotipo {
    grid-area: img;
    height: 100%;
  }
}

section {
  grid-area: section;
  background-color: var(--cor-primaria);
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 20px;
  grid-template-rows: repeat(4, auto);
  row-gap: 5%;
  padding: var(--padding);
  grid-template-areas:
    "i a"
    "h2 h2"
    "input input"
    "btn btn";

  & a {
    grid-area: a;
    justify-self: end;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.5s ease;
  }

  & .fa-arrow-left {
    grid-area: i;
    font-size: 3rem;
    justify-self: baseline;
    cursor: pointer;
    transition: 0.5s ease;
    color: var(--cor-secundaria);
  }

  & h1 {
    grid-area: h1;
    font-size: 3.5rem;
    text-align: right;
  }

  & h2 {
    grid-area: h2;
    font-size: 3rem;
    text-align: center;
  }

  & input {
    grid-area: input;
    justify-self: center;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
  }

  input:focus {
    outline: none;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  & input[type="radio"] {
    display: none;
  }

  & .logotipo {
    grid-area: logo;
    justify-self: end;
    width: 150px;
  }

  & p {
    grid-area: p;
  }

  & .btns {
    grid-area: btn;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    padding: 10px 40px;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 50px;
    background-color: var(--cor-secundaria);
    font-weight: bold;
    text-align: center;
    transition: 0.5s ease;
    border: solid 5px var(--cor-secundaria);
    color: var(--cor-primaria);
    justify-self: end;
  }

  & .btns:hover {
    scale: 1.1;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
  }
}

#section_index {
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "a h1"
    "img p"
    "img btn";
  grid-template-columns: 32% auto;
  grid-template-rows: auto repeat(2, 1fr);
  text-align: right;
  column-gap: 50px;

  & a {
    justify-self: baseline;
  }
  
  & #div_container_img_estresse_hidrico {
    grid-area: img;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    width: 80%;
  }

  #img_1_estresse_hidrico {
    grid-area: img1;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    filter: brightness(0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 1.5s cubic-bezier(0.25, 0.8, 0.5, 1); /* Transição suave */
    -webkit-transition: -webkit-mask-image 1.5s cubic-bezier(0.25, 0.8, 0.5, 1); /* Suavidade para WebKit */
  }

  & #img_2_estresse_hidrico {
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-shadow: 4px 4px 20px #000000c9;
  }

  & h1 {
    align-self: end;
  }

  & p {
    font-size: 2rem;
    align-self: end;
  }

  & button {
    background: var(--cor-secundaria);
    padding: 10px 40px;
    height: fit-content;
    width: fit-content;
    font-size: 2rem;
    border: solid 5px var(--cor-secundaria);
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    color: var(--cor-primaria);
    cursor: pointer;
    align-self: end;
  }

  & button:hover {
    scale: 1;
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
    border: solid 5px var(--cor-secundaria);
  }
}

#section_informacoes {
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "i a"
    "h2 h2"
    "btn btn";
  align-content: end;

  & h2 {
    align-self: center;
  }
}

#section_consumo_mensal {
  grid-template-areas:
    "i a"
    "h2 h2"
    "input input"
    "label btn";

  & #label_nao_sei {
    grid-area: label;
  }
}

#section_trabalha_sistema_irrigacao,
#section_possui_reservatorio,
#section_monitoramento_reservatorio,
#section_tipo_monitoramento {
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "i a"
    "h2 h2"
    "label1 label2";

  & h2 {
    align-self: center;
  }

  & input {
    display: none;
  }

  & .label1 {
    grid-area: label1;
  }

  & .label2 {
    grid-area: label2;
  }
}

#section_mensagem_final {
  overflow-y: scroll;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "i a"
    "div div"
    "btn btn";
  row-gap: 15%;

  & #div_resultado {
    grid-area: div;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    gap: 70px;

    & h4 {
      font-size: 3rem;
      text-align: center;
    }

    & span {
      color: #0e617c;
      font-weight: bold;
    }

    & p {
      font-size: 2rem;
    }

    & #div_card_container_beneficios {
      display: grid;
      grid-template-rows: auto;
      row-gap: var(--row-gap);
      column-gap: var(--row-gap);
      grid-template-columns: repeat(4, 1fr);
    }

    & .div_cards {
      background-color: var(--cor-primaria);
      color: var(--fonte-cor-primaria);
      height: fit-content;
      min-height: 100%;
      display: grid;
      grid-template-rows: auto 2fr;
      row-gap: 20px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "h4"
        "p";
      align-items: baseline;
      border-radius: 50px;
      box-shadow: 3px 2px 3px rgba(189, 198, 210, 1),
        -3px 2px 3px rgba(189, 198, 210, 1), 0 2px 3px rgba(189, 198, 210, 1);
      padding: 30px;

      & h4 {
        grid-area: h4;
        text-align: center;
        font-size: 2rem;
        height: fit-content;
      }

      & p {
        grid-area: p;
        text-align: center;
        font-size: 1.5rem;
        align-self: center;
      }
    }

    & #div_card_container_funcionalidades {
      grid-area: por-que-nos-escolher;
      display: grid;
      grid-template-rows: auto;
      row-gap: var(--row-gap);
      column-gap: var(--row-gap);
      grid-template-columns: repeat(3, 1fr);

      & .div_cards {
        background: #0e617c;

        & * {
          color: var(--cor-primaria);
        }
      }
    }

    & #div_container_explicacao_1 {
      display: flex;
      gap: 50px;

      & p {
        text-align: left;
      }
    }

    & #div_container_explicacao_2 {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: auto 1fr;
      gap: 20px;
      grid-template-areas:
        "img p1"
        "img p2";

      & #div_container_explicacao_2_p1 {
        grid-area: p1;
      }

      & #div_container_explicacao_2_p2 {
        grid-area: p2;
      }

      & img {
        grid-area: img;
        height: 100%;
      }
    }

    #div_referencias {
      display: flex;
      flex-direction: column;
      gap: 30px;
      border-top: solid 2px #041b2240;
      padding-top: 20px;

      & * {
        font-size: 1.5rem;
      }

      & li {
        list-style-position: inside;
        padding-left: 30px;
      }
    }

    & button {
      align-self: center;
    }
  }
}

.campo_obrigatorio::placeholder {
  color: #0e617c;
}

@keyframes slideOut {
  0% {
    -webkit-mask-image: linear-gradient(to left, black 100%, transparent 100%);
  }
  1% {
    -webkit-mask-image: linear-gradient(to left, black 99%, transparent 100%);
  }
  2% {
    -webkit-mask-image: linear-gradient(to left, black 98%, transparent 100%);
  }
  3% {
    -webkit-mask-image: linear-gradient(to left, black 97%, transparent 100%);
  }
  4% {
    -webkit-mask-image: linear-gradient(to left, black 96%, transparent 100%);
  }
  5% {
    -webkit-mask-image: linear-gradient(to left, black 95%, transparent 100%);
  }
  6% {
    -webkit-mask-image: linear-gradient(to left, black 94%, transparent 100%);
  }
  7% {
    -webkit-mask-image: linear-gradient(to left, black 93%, transparent 100%);
  }
  8% {
    -webkit-mask-image: linear-gradient(to left, black 92%, transparent 100%);
  }
  9% {
    -webkit-mask-image: linear-gradient(to left, black 91%, transparent 100%);
  }
  10% {
    -webkit-mask-image: linear-gradient(to left, black 90%, transparent 100%);
  }
  11% {
    -webkit-mask-image: linear-gradient(to left, black 89%, transparent 100%);
  }
  12% {
    -webkit-mask-image: linear-gradient(to left, black 88%, transparent 100%);
  }
  13% {
    -webkit-mask-image: linear-gradient(to left, black 87%, transparent 100%);
  }
  14% {
    -webkit-mask-image: linear-gradient(to left, black 86%, transparent 100%);
  }
  15% {
    -webkit-mask-image: linear-gradient(to left, black 85%, transparent 100%);
  }
  16% {
    -webkit-mask-image: linear-gradient(to left, black 84%, transparent 100%);
  }
  17% {
    -webkit-mask-image: linear-gradient(to left, black 83%, transparent 100%);
  }
  18% {
    -webkit-mask-image: linear-gradient(to left, black 82%, transparent 100%);
  }
  19% {
    -webkit-mask-image: linear-gradient(to left, black 81%, transparent 100%);
  }
  20% {
    -webkit-mask-image: linear-gradient(to left, black 80%, transparent 100%);
  }
  21% {
    -webkit-mask-image: linear-gradient(to left, black 79%, transparent 100%);
  }
  22% {
    -webkit-mask-image: linear-gradient(to left, black 78%, transparent 100%);
  }
  23% {
    -webkit-mask-image: linear-gradient(to left, black 77%, transparent 100%);
  }
  24% {
    -webkit-mask-image: linear-gradient(to left, black 76%, transparent 100%);
  }
  25% {
    -webkit-mask-image: linear-gradient(to left, black 75%, transparent 100%);
  }
  26% {
    -webkit-mask-image: linear-gradient(to left, black 74%, transparent 100%);
  }
  27% {
    -webkit-mask-image: linear-gradient(to left, black 73%, transparent 100%);
  }
  28% {
    -webkit-mask-image: linear-gradient(to left, black 72%, transparent 100%);
  }
  29% {
    -webkit-mask-image: linear-gradient(to left, black 71%, transparent 100%);
  }
  30% {
    -webkit-mask-image: linear-gradient(to left, black 70%, transparent 100%);
  }
  31% {
    -webkit-mask-image: linear-gradient(to left, black 69%, transparent 100%);
  }
  32% {
    -webkit-mask-image: linear-gradient(to left, black 68%, transparent 100%);
  }
  33% {
    -webkit-mask-image: linear-gradient(to left, black 67%, transparent 100%);
  }
  34% {
    -webkit-mask-image: linear-gradient(to left, black 66%, transparent 100%);
  }
  35% {
    -webkit-mask-image: linear-gradient(to left, black 65%, transparent 100%);
  }
  36% {
    -webkit-mask-image: linear-gradient(to left, black 64%, transparent 100%);
  }
  37% {
    -webkit-mask-image: linear-gradient(to left, black 63%, transparent 100%);
  }
  38% {
    -webkit-mask-image: linear-gradient(to left, black 62%, transparent 100%);
  }
  39% {
    -webkit-mask-image: linear-gradient(to left, black 61%, transparent 100%);
  }
  40% {
    -webkit-mask-image: linear-gradient(to left, black 60%, transparent 100%);
  }
  41% {
    -webkit-mask-image: linear-gradient(to left, black 59%, transparent 100%);
  }
  42% {
    -webkit-mask-image: linear-gradient(to left, black 58%, transparent 100%);
  }
  43% {
    -webkit-mask-image: linear-gradient(to left, black 57%, transparent 100%);
  }
  44% {
    -webkit-mask-image: linear-gradient(to left, black 56%, transparent 100%);
  }
  45% {
    -webkit-mask-image: linear-gradient(to left, black 55%, transparent 100%);
  }
  46% {
    -webkit-mask-image: linear-gradient(to left, black 54%, transparent 100%);
  }
  47% {
    -webkit-mask-image: linear-gradient(to left, black 53%, transparent 100%);
  }
  48% {
    -webkit-mask-image: linear-gradient(to left, black 52%, transparent 100%);
  }
  49% {
    -webkit-mask-image: linear-gradient(to left, black 51%, transparent 100%);
  }
  50% {
    -webkit-mask-image: linear-gradient(to left, black 50%, transparent 100%);
  }
  51% {
    -webkit-mask-image: linear-gradient(to left, black 49%, transparent 100%);
  }
  52% {
    -webkit-mask-image: linear-gradient(to left, black 48%, transparent 100%);
  }
  53% {
    -webkit-mask-image: linear-gradient(to left, black 47%, transparent 100%);
  }
  54% {
    -webkit-mask-image: linear-gradient(to left, black 46%, transparent 100%);
  }
  55% {
    -webkit-mask-image: linear-gradient(to left, black 45%, transparent 100%);
  }
  56% {
    -webkit-mask-image: linear-gradient(to left, black 44%, transparent 100%);
  }
  57% {
    -webkit-mask-image: linear-gradient(to left, black 43%, transparent 100%);
  }
  58% {
    -webkit-mask-image: linear-gradient(to left, black 42%, transparent 100%);
  }
  59% {
    -webkit-mask-image: linear-gradient(to left, black 41%, transparent 100%);
  }
  60% {
    -webkit-mask-image: linear-gradient(to left, black 40%, transparent 100%);
  }
  61% {
    -webkit-mask-image: linear-gradient(to left, black 39%, transparent 100%);
  }
  62% {
    -webkit-mask-image: linear-gradient(to left, black 38%, transparent 100%);
  }
  63% {
    -webkit-mask-image: linear-gradient(to left, black 37%, transparent 100%);
  }
  64% {
    -webkit-mask-image: linear-gradient(to left, black 36%, transparent 100%);
  }
  65% {
    -webkit-mask-image: linear-gradient(to left, black 35%, transparent 100%);
  }
  66% {
    -webkit-mask-image: linear-gradient(to left, black 34%, transparent 100%);
  }
  67% {
    -webkit-mask-image: linear-gradient(to left, black 33%, transparent 100%);
  }
  68% {
    -webkit-mask-image: linear-gradient(to left, black 32%, transparent 100%);
  }
  69% {
    -webkit-mask-image: linear-gradient(to left, black 31%, transparent 100%);
  }
  70% {
    -webkit-mask-image: linear-gradient(to left, black 30%, transparent 100%);
  }
  71% {
    -webkit-mask-image: linear-gradient(to left, black 29%, transparent 100%);
  }
  72% {
    -webkit-mask-image: linear-gradient(to left, black 28%, transparent 100%);
  }
  73% {
    -webkit-mask-image: linear-gradient(to left, black 27%, transparent 100%);
  }
  74% {
    -webkit-mask-image: linear-gradient(to left, black 26%, transparent 100%);
  }
  75% {
    -webkit-mask-image: linear-gradient(to left, black 25%, transparent 100%);
  }
  76% {
    -webkit-mask-image: linear-gradient(to left, black 24%, transparent 100%);
  }
  77% {
    -webkit-mask-image: linear-gradient(to left, black 23%, transparent 100%);
  }
  78% {
    -webkit-mask-image: linear-gradient(to left, black 22%, transparent 100%);
  }
  79% {
    -webkit-mask-image: linear-gradient(to left, black 21%, transparent 100%);
  }
  80% {
    -webkit-mask-image: linear-gradient(to left, black 20%, transparent 100%);
  }
  81% {
    -webkit-mask-image: linear-gradient(to left, black 19%, transparent 100%);
  }
  82% {
    -webkit-mask-image: linear-gradient(to left, black 18%, transparent 100%);
  }
  83% {
    -webkit-mask-image: linear-gradient(to left, black 17%, transparent 100%);
  }
  84% {
    -webkit-mask-image: linear-gradient(to left, black 16%, transparent 100%);
  }
  85% {
    -webkit-mask-image: linear-gradient(to left, black 15%, transparent 100%);
  }
  86% {
    -webkit-mask-image: linear-gradient(to left, black 14%, transparent 100%);
  }
  87% {
    -webkit-mask-image: linear-gradient(to left, black 13%, transparent 100%);
  }
  88% {
    -webkit-mask-image: linear-gradient(to left, black 12%, transparent 100%);
  }
  89% {
    -webkit-mask-image: linear-gradient(to left, black 11%, transparent 100%);
  }
  90% {
    -webkit-mask-image: linear-gradient(to left, black 10%, transparent 100%);
  }
  91% {
    -webkit-mask-image: linear-gradient(to left, black 9%, transparent 100%);
  }
  92% {
    -webkit-mask-image: linear-gradient(to left, black 8%, transparent 100%);
  }
  93% {
    -webkit-mask-image: linear-gradient(to left, black 7%, transparent 100%);
  }
  94% {
    -webkit-mask-image: linear-gradient(to left, black 6%, transparent 100%);
  }
  95% {
    -webkit-mask-image: linear-gradient(to left, black 5%, transparent 100%);
  }
  96% {
    -webkit-mask-image: linear-gradient(to left, black 4%, transparent 100%);
  }
  97% {
    -webkit-mask-image: linear-gradient(to left, black 3%, transparent 100%);
  }
  98% {
    -webkit-mask-image: linear-gradient(to left, black 2%, transparent 100%);
  }
  99% {
    -webkit-mask-image: linear-gradient(to left, black 1%, transparent 100%);
  }
  100% {
    -webkit-mask-image: linear-gradient(to left, black 0%, transparent 0%);
  }
}
