@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Rubik+Wet+Paint&family=Russo+One&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #EDEEF1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: linear-gradient(90deg, #08232C, #123942, #215B63, #2E7A81, #499899);
    display: flex;
    width: 100%;
    height: 100px;
}

header .logo {
    width: 25%;
    display: flex;
    align-items: center;
    padding: 3%;

    & img {
        width: 60%;
    }
}

header .menu {
    width: 55%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    padding-right: 40px;

    & span{
        font-size: 20px;
    }

    & i {
        font-size: 30px;
        padding: 20px;
    }
}

header .user {
    width: 25%;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;

    & span {
        padding: 10px;
    }
}

header .hamburger {
    width: 5%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding: 3%;
}

body.sidebar-active main{
    filter: blur(5px);
}

.sidebar {
    position: fixed;
    top: 100px;
    right: -250px; /* Inicialmente fora da tela */
    height: 100%;
    width: 250px;
    background-color: #EDEEF1;
    transition: right 0.3s ease-in-out;
    z-index: 999;
    padding-top: 20px;
    box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.1);
    /* Adiciona padding para não colar no topo da tela */

    & ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        font-size: 20px;
        color: #0B5268;
        margin: 0;
    }

    & li {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        transition: background-color 0.3s ease;
    }

    & li i {
        padding-right: 15px;
        font-size: 20px;
    }

    .option {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    ul li:hover {
        cursor: pointer;
        background-color: #D8D8D8; /* Cor de fundo no hover */
        width: 100%;
        transition: 1s;
    }
}

ul li.opcoes:hover {
    background-color: transparent; /* Ou a cor original do fundo */
    cursor: default; /* Remove o cursor de ponteiro */
}

.sidebar.active {
    right: 0;
    top: 100px;
    box-shadow: -20px 0 10px rgba(0, 0, 0, 0.12);
    filter: blur(0px);

    & .hamburger {
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 1000;
    }

    & .hamburger i {
        color: #0B5268;
    }
}

#hamburger-icon {
    transition: transform 0.3s ease;
}

#hamburger-icon.open {
    transform: rotate(180deg); /* Rotaciona o ícone quando aberto */
}

main {
    width: 90%;
    background-color: #EDEEF1;
}
main .pgAtual{
    display: flex;
    margin-top: 2%; 
    width: 100%;  
    justify-content: space-between;
}

main .pgAtual .indicadorPagina{
    font-size: 25px;
    width: 50%;
    & i{
        padding-right: 2%;
    }
}

main .pgAtual .caminhoPagina{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & i{
        padding-right: 1%;
    }
}

main .kpis{
    display: flex;
    margin-top: 3%;
    width: 100%; 
    gap: 3%;
}

main .kpis .kpiPrincipal{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    align-items: center;
    box-shadow: 4px 4px 20px #bbbbbb;
    border-top-left-radius: 10px; /* Arredonda o canto superior esquerdo */
    border-top-right-radius: 10px;
    border-radius: 10px;
}

main .kpis .kpiPrincipal select{
    margin-top: 1%;
    width: 100%;
    font-size: 15px;
    border: none;
    outline: none;
    
    padding-right: 4%;
}

main .kpis .kpiPrincipal .tituloKpi{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: #ffd900;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    padding: 2%;
    border-top-left-radius: 10px; /* Arredonda o canto superior esquerdo */
    border-top-right-radius: 10px;


    & span{
        font-weight: bold;
    }
}

main .kpis .kpiPrincipal .tituloKpi select{
    position: absolute;
    right: 5px; /* Move o select para o lado direito */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente o select */
    font-size: 15px;
    border: none;
    outline: none;
    padding-right: 4%;
    width: 5%;
    background-color: transparent;
}

main .kpis .kpiPrincipal img{
    width: 500px;
    height: 500px;
    padding: 7%;
}


main .kpis .kpiPrincipal .nivelAtual{
    position: absolute;
    background-color: unset;
    color: #0B5268;
    top: 75%;
    font-size: 60px;
    font-weight: bold;
}

main .conjuntokpi {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1 1 calc(50% - 10px); 
    justify-content: flex-end;
}

main .conjuntokpi .kpi1 {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    flex: 1 1 45%;
    height: auto; 
    box-shadow: 4px 4px 20px #bbbbbb;
    border-top-left-radius: 10px; /* Arredonda o canto superior esquerdo */
    border-top-right-radius: 10px;
    border-radius: 10px;
}


/* 
.consumo{
    justify-content: space-between;


    & .infoKpi{
        padding: 0;
    }
} */

main .conjuntokpi .kpi1 .tituloKpi{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ffd900;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 2%;
    border-top-left-radius: 10px; /* Arredonda o canto superior esquerdo */
    border-top-right-radius: 10px;
}

.consumo .tituloKpi {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: #ffd900;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    padding: 2%;
}

main .conjuntokpi .kpi1 .tituloKpi select{
    position: absolute;
    right: 5px; /* Move o select para o lado direito */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente o select */
    font-size: 15px;
    border: none;
    outline: none;
    padding-right: 4%;
    width: 5%;
    background-color: transparent;
}



main .conjuntokpi .kpi1 .infoKpi{
    font-size: 25px;
    font-weight: bold;
    padding: 4%;
}

#nivelCritico .infoKpi{
    font-size: 20px;
}

main .conjuntokpi .kpi1 i{
    font-size: 70px;
    padding: 10%;
}

main .conjuntokpi .kpi1 select{
    margin-top: 1%;
    width: 100%;
    font-size: 15px;
    border: none;
    outline: none;
    padding-right: 4%;
}

.icon{
    display: flex;
    width: 100%;
    justify-content: center;
    /* gap: 166px; */
    align-items: center
}

.upAndDown{
    display: flex;
    flex-direction: column;
    font-size: 5px;
    position: absolute;
    right: 100px;
    align-items: center;
}

#up,#down {
    font-size: 25px;
    cursor: pointer;
}


.graficos{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
    box-shadow: 4px 4px 20px #bbbbbb;
    border-radius: 10px;
}

.graficos .grafico{
    width: 70%;
    display: flex;
    flex-direction: column;    
}

canvas {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.graficos .grafico span{
    display: flex;
    width: 100%;
    background-color: #0B5268;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    padding: 2%;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px; /* Arredonda o canto superior esquerdo */
    border-top-right-radius: 10px;
}

.graficos .previsaoClima{
    width: 29%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    
}

.graficos .previsaoClima .titulo{
    background-color: #0B5268;
    width: 100%;
    color: #ffffff;
    padding: 2%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 10px; /* Arredonda o canto superior esquerdo */
    border-top-right-radius: 10px;
}

.graficos .previsaoClima .infoTempo{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.graficos .previsaoClima .infoTempo .cardPrevisao{
    display: flex;
    background-color: #0B5268;
    color: #ffffff;
    padding: 5%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    font-size: 20px;

    & .infos{
        display: block;
        flex-direction: column;
        align-items: center;
        
    }

    & i{
        font-size: 30px;
        padding: 2%;
    }
}