/*IMPORTANDO FONT DE TEXTO*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --gradiente: linear-gradient(
      90deg,
      #041b22 12.72%,
      #041b22 16.22%,
      #041b22 21.72%,
      #041b22 21.73%,
      #07313e 37.72%,
      #0a4457 48.22%,
      #0e617c 58.22%,
      #0e617c 70.2%,
      #0e617c 70.21%,
      #0e617c 79.22%,
      #1e7b92 92.22%,
      #36a3b3 99.98%,
      #5ce1e6 99.99%,
      #27d4d4 100%
    );
    --padding: 60px;
  
    --cor-primaria: #ddd;
    --cor-secundaria: #083b4b;
  }

/*"RESETANDO"/RECONFIGURANDO ALGUMAS ESTILIZAÇÕES PADRÕES DOS NAVEGADORES EM TODOS OS COMPONENTES*/

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background: none;
  border: none;
}

body {
  overflow: hidden;
}

main {
  height: 100vh;
  display: flex;
}

.section_perguntas {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor-primaria);
  position: absolute;
  left: 100%;
  top: 0;
  transition: 1s;
  padding: var(--padding);

  & header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & i {
      cursor: pointer;
      font-size: 2rem;
      transition: 0.5s ease;
    }

    & i:hover {
      scale: 1.1;
    }

    & h1 {
      font-size: 3.5rem;
    }
  }

  input {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
  }

  input:focus {
    outline: none; /* Remove o contorno no foco */
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .conteudoPerguntas {
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
  }

  .div_btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 40px;

    & input {
      display: none;
    }

    & #btn_section_consumo_mensal {
      margin-right: -40px;
    }
  }

  .btns {
    width: 20%;
    align-self: flex-end;
    padding: 10px 50px;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 50px;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: 0.5s ease;
    border: solid 5px var(--cor-secundaria);
  }

  .btns:hover {
    scale: 1.1;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
  }

  #btn_index {
    width: auto;
  }
}

#section_index {
  left: 0;
}

#section_mensagem_final{
  font-size: 2rem;
}

.gradiente {
  background: var(--gradiente);
  color: var(--cor-primaria);

  & .btns {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
  }

  & .btns:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
  }
}
