@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Saira", sans-serif;
    }

    .container {
        width: 100%;
        height: 100vh;
    }

    .navbar {
        background-color: #083949;
        height: s0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .img-logo {
            margin: 30px;
        }

        & .icones {
            padding: 20px;
        }

        & .icone1,
        .icone2,
        .icone3 {
            width: 28px;
            height: 28px;
        }
        & .icone1,
        .icone2 {
            margin-right: 50px;
        }
    }

    .conteudo{
        width: 100%;
        height: 770px;
        display: flex;
    
        & .barralateral{
            background-color: #0E617C;
            width: 20%;
            height: 100%;
        }
        
        & .barralateral .msgFiltros{
            display: flex;
            flex-direction: column;
            margin-top: 60px;
        }
        & .barralateral .msgFiltros span{
            color: #fff;
            margin-left:20px;
        }
        & .barralateral .msgFiltros input{
            margin-left:20px;
            margin: 20px;
            width: 80%;
            height: 44px;
            border: none;
            background-color: #5CE1E6;
            
        }

        & h3{
            color: #fff;
            font-size: 25px;
        }

        & .titulolateral{
            display: flex;
            margin-top: 20px;
            margin-left: 30px;
        }

        & .titulolateral img{
            margin-left: 120px;
            width: 25px;
        }
    }

.dashboard{
    width: 80%;
}

    .dashboard .dash1{
        display: flex;
        width: 100%;
        justify-content: space-between;

        & .kpi1,.kpi2,.kpi3,.kpi4,.kpi5{
            background-color: #083949;
            color: #fff;
            margin: 10px;
            width: 60%;
            text-align: center;
            padding: 20px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

    } 
}
    
.dash2{
    display: flex;
    margin: 20px;
}

.dash3 {
    display: flex;
    justify-content: space-evenly;
    
    & .kpi6{
        background-color: #083949;
        margin-left: 10px;
        width: 30%;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    } 
    & span{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        padding: 40px;
    }
}