@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

@import url(../config/css/style_padrao.css);


/*"RESETANDO"/RECONFIGURANDO ALGUMAS ESTILIZAÇÕES PADRÕES DOS NAVEGADORES EM TODOS OS COMPONENTES*/

* {
  color: var(--cor-tercearia);
  transition: 0.5s;
}

html {

  height: 100%;
}

/* BODY */

body {
  background-color: var(--cor-primaria);
  height: auto;
}

/* /BODY */

span {
  color: #0e617c;
  font-weight: bold;
}

/* HEADER */

header {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  background: var(--gradiente);
  box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.726);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;

  & img {
    height: 80%;
    padding-right: 50px;
  }

  & a,
  span,
  #link_resgistrar {
    color: var(--cor-primaria);
    font-size: 2rem;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
  }

  & a:hover,
  #link_resgistrar:hover {
    border-bottom: 2px solid var(--cor-primaria);
  }

  & .menu_selecionado {
    border-bottom: 2px solid var(--cor-primaria);
  }

  & nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;

    & #navbar_conatainer_link_sections {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 30px;
    }

    & #navbar_conatainer_link_cadastro_login {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 30px;

      & #btn_entrar {
        background-color: var(--cor-primaria);
        padding: 5px 20px;
        color: #012f32;
        border-radius: 10px;
        font-weight: bold;
        transition: 0.5s;
        border: none;
        font-size: 2rem;
      }

      & #btn_entrar:hover {
        background-color: var(--cor-secundaria);
        color: var(--cor-primaria);
        scale: 1.1;
      }
    }
  }
}

/* /HEADER */

/* MAIN */

main {
  width: 100%;

  display: grid;
  grid-template-rows: 110vh auto auto auto auto;
  grid-template-columns: 100%;
  grid-template-areas:
    "home"
    "sobre-nos"
    "calculadora"
    "servicos"
    "nos-contate";

  & section {
    display: flex;
    padding: var(--padding);

    & h2 {
      font-size: 3rem;
      text-align: center;
    }
  }
}

/* HOME SECTION */
#section_home {
  grid-area: home;
  background: var(--gradiente);
  padding: 100px;

  display: grid;
  grid-template-rows: 60% 1fr;
  row-gap: 1%;
  grid-template-columns: 50% 1fr;
  grid-template-areas:
    "img h1"
    "img a";

  overflow: hidden;
  position: relative;

  & img {
    grid-area: img;
    height: 100%;
    border-radius: 50px;
    box-shadow: 4px 4px 20px #000000c9;
    z-index: 1;
  }

  & h1 {
    grid-area: h1;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--cor-primaria);
    line-height: 5.5rem;
    z-index: 1;
  }

  & a {
    grid-area: a;
    background: var(--cor-primaria);
    padding: 10px 40px;
    height: fit-content;
    width: fit-content;
    font-size: 2rem;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
  }

  & a:hover {
    background: var(--cor-secundaria);
    color: var(--cor-primaria);
    padding: 10px 100px;
  }

  & .circulos {
    background: linear-gradient(to right, #f9f9f90f, #f9f9f91a);
    border-radius: 100%;
    position: absolute;
  }

  & .circulo1 {
    width: 150px;
    height: 150px;
    top: 40%;
    left: 2%;
  }

  & .circulo2 {
    width: 300px;
    height: 300px;
    top: 100px;
    left: 30%;
  }

  & .circulo3 {
    width: 200px;
    height: 200px;
    top: 60%;
    left: 50%;
  }

  & .circulo4 {
    width: 100px;
    height: 100px;
    top: 90%;
    left: 35%;
  }

  & .circulo5 {
    width: 250px;
    height: 250px;
    top: -10%;
    left: -10%;
  }

  & .circulo6 {
    width: 350px;
    height: 350px;
    top: -10%;
    left: 80%;
  }

  & .circulo7 {
    width: 150px;
    height: 150px;
    top: 85%;
    left: 95%;
  }
}

/* /HOME SECTION */

/* SOBRE NÓS SECTION */
#section_sobre_nos {
  padding: 0;
  grid-area: sobre-nos;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

#section_o_que_fazemos {
  grid-area: o-que-fazemos;
  display: grid;
  grid-template-columns: 1fr 40%;
  column-gap: 5%;
  grid-template-rows: repeat(4, auto);
  row-gap: 5%;
  grid-template-areas:
    "h2 div-img"
    "p div-img"
    "h4 div-img"
    "ul div-img";

  font-size: 2rem;

  & h2 {
    grid-area: h2;
  }

  & div {
    grid-area: div-img;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    grid-template-rows: repeat(5, auto);
    row-gap: 20px;
    grid-template-areas:
      "img-1 img-1 img-2 img-2"
      "img-1 img-1 img-2 img-2"
      "img-1 img-1 img-4 img-4"
      "img-3 img-3 img-3 img-3";

    & img {
      width: 100%;
      border-radius: 20px;
      box-shadow: 4px 4px 20px #000000c9;
    }

    & #reservatorio_img_1 {
      grid-area: img-1;
    }

    & #reservatorio_img_2 {
      grid-area: img-2;
    }

    & #reservatorio_img_3 {
      grid-area: img-3;
    }

    & #reservatorio_img_4 {
      grid-area: img-4;
    }
  }

  & p {
    grid-area: p;
  }

  & h4 {
    grid-area: h4;
    font-size: 2.5rem;
  }

  & ul {
    grid-area: ul;

    & li {
      padding-left: 50px;
      list-style-position: inside;
    }
  }
}

#section_quem_somos {

  height: fit-content;
  padding-inline: 150px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  & h2 {
    grid-area: h2;
  }

  & p {
    grid-area: p;
    width: 100%;
    float: right;
    /* Flutua a imagem à direita */
    font-size: 2rem;
    clear: both;
    /* Força o parágrafo a não se sobrepor à imagem flutuante */

    & img {
      width: 40%;
      padding-right: 40px;
      padding-bottom: 10px;
      margin-top: 12px;
      float: left;
    }
  }
}

#section_nossa_equipe {
  height: fit-content;
  padding-inline: 150px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.image-container {
  position: relative;
  width: 100%;
}

#team-image {
  width: 100%;
  border-radius: 20px;
  box-shadow: 4px 4px 20px #000000c9;
  transition: transform 0.5s ease;
}

#integrantes p {
  width: 100%;
  font-size: 1.8rem;
  margin: 0;
}

#section_nossa_equipe p {
  width: 100%;
  font-size: 2rem;
}

#integrantes .integrante {
  display: flex;
  align-items: center;
  gap: 20px;
  /* Espaço entre a foto e o texto */
  padding-bottom: 30px;
}

.foto-integrante {
  width: 150px;
  /* Tamanho da foto */
  height: 150px;
  border-radius: 50%;
  /* Foto em formato circular */
  object-fit: cover;
  /* Ajusta a imagem para preencher o espaço */
}


#section_missao_visao_valores {
  height: fit-content;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: var(--row-gap);
  column-gap: var(--row-gap);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "h2 h2 h2"
    "missao visao valores";

  & h2 {
    grid-area: h2;
  }

  & #container_missao {
    grid-area: missao;
  }

  & #container_visao {
    grid-area: visao;
  }

  & #container_valores {
    grid-area: valores;
  }

  & .div_container_missao_visao_valores {
    height: fit-content;
    min-height: 100%;
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
    row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "h4"
      "p";
    align-items: baseline;
    border-radius: 50px;
    box-shadow: 3px 2px 3px rgba(189, 198, 210, 1),
      -3px 2px 3px rgba(189, 198, 210, 1), 0 2px 3px rgba(189, 198, 210, 1);
    padding: 30px;

    & img {
      grid-area: img;
      width: 100%;
    }

    & h4 {
      grid-area: h4;
      text-align: center;
      font-size: 2rem;
      height: fit-content;
    }

    & p {
      grid-area: p;
      text-align: center;
      font-size: 2rem;
    }
  }
}

/* /SOBRE NÓS SECTION */

/* CALCULADORA SECTION */
#section_calculadora {
  grid-area: calculadora;
  background: var(--gradiente);
  padding-inline: 200px;
  display: grid;
  grid-template-rows: auto 70vh;
  row-gap: var(--row-gap);
  grid-template-columns: 1fr;
  grid-template-areas:
    "p"
    "calculadora-card";

  position: relative;
  overflow: hidden;

  & p {
    grid-area: p;
    color: var(--cor-primaria);
    text-align: center;
    font-size: 2rem;
  }

  & #calculadora_card {
    grid-area: calculadora-card;
    background: linear-gradient(to right,
        rgba(0, 0, 0, 0.67),
        rgba(0, 0, 0, 0.336),
        transparent),
      url("../assets/calculadora-section/calculadora-section-background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    padding: 70px;
    box-shadow: 4px 4px 20px #000000c9;
    height: 100%;
    width: 100%;
    z-index: 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    & h4 {
      color: var(--cor-primaria);
      font-size: 3rem;
      width: 90%;
      line-height: 3rem;
    }

    & a {
      height: fit-content;
      width: fit-content;
      background-color: var(--cor-secundaria);
      color: var(--cor-primaria);
      padding: 20px 40px;
      font-size: 2rem;
      font-weight: bold;
      border-radius: 20px;
      text-align: center;
      align-self: flex-end;
    }

    & a:hover {
      background-color: var(--cor-primaria);
      color: var(--cor-secundaria);
      padding: 20px 100px;
    }
  }

  & .circulos {
    background: linear-gradient(to right, #f9f9f90f, #f9f9f91a);
    border-radius: 100%;
    position: absolute;
  }

  & .circulo1 {
    width: 150px;
    height: 150px;
    top: 40%;
    left: 2%;
  }

  & .circulo2 {
    width: 300px;
    height: 300px;
    top: 100px;
    left: 30%;
  }

  & .circulo3 {
    width: 200px;
    height: 200px;
    top: 60%;
    left: 50%;
  }

  & .circulo4 {
    width: 100px;
    height: 100px;
    top: 70%;
    left: 80%;
  }

  & .circulo5 {
    width: 250px;
    height: 250px;
    top: -10%;
    left: -10%;
  }

  & .circulo6 {
    width: 350px;
    height: 350px;
    top: -10%;
    left: 80%;
  }

  & .circulo7 {
    width: 150px;
    height: 150px;
    top: 85%;
    left: 90%;
  }

  & .circulo8 {
    width: 175px;
    height: 175px;
    top: 85%;
    left: 15%;
  }
}

/* /CALCULADORA SECTION */

/* SERVICOS SECTION */
#section_servicos {
  width: 100%;
  grid-area: servicos;
  display: grid;
  grid-template-rows: repeat(7, auto);
  row-gap: 50px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "h2_por_que_nos_escolher"
    "h3_por_que_nos_escolher"
    "beneficios"
    "h2_nossos_servicos"
    "servicos"
    "h3_nossos_servicos"
    "outros_servicos";

  & #h2_por_que_nos_escolher {
    grid-area: h2_por_que_nos_escolher;
  }

  & #h3_por_que_nos_escolher {
    grid-area: h3_por_que_nos_escolher;
    font-size: 3rem;
    text-align: center;
  }

  & #div_beneficios {
    grid-area: beneficios;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    grid-template-areas: "beneficio1 beneficio2 beneficio3 beneficio4";

    & .div_cards {
      background-color: var(--cor-primaria);
      color: var(--cor-tercearia);
      display: flex;
      align-items: center;
      border-radius: 50px;
      box-shadow: 3px 2px 3px rgba(189, 198, 210, 1),
        -3px 2px 3px rgba(189, 198, 210, 1), 0 2px 3px rgba(189, 198, 210, 1);
      padding: 30px;

      & h4 {
        grid-area: h4;
        text-align: center;
        font-size: 2rem;
      }
    }
  }

  & #h2_nossos_servicos {
    grid-area: h2_nossos_servicos;
  }

  & #h3_nossos_servicos {
    grid-area: h3_nossos_servicos;
    font-size: 3rem;
    text-align: center;
  }

  & #div_servicos {
    grid-area: servicos;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    grid-template-areas: "analise_preditiva analise_monitoramento analise_dashboard";

    & #div_cards_analise_preditiva {
      grid-area: analise_preditiva;
    }

    & #div_cards_monitoramento {
      grid-area: analise_monitoramento;
    }

    & #div_cards_dashboard {
      grid-area: analise_dashboard;
    }

    & .div_cards {
      display: grid;
      grid-template-rows: auto auto 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "img"
        "h4"
        "p";
      text-align: center;
      justify-items: center;
      align-items: baseline;
      position: relative;
      border-radius: 50px;
      padding: 30px;
      box-shadow: 3px 2px 3px rgba(189, 198, 210, 1),
        -3px 2px 3px rgba(189, 198, 210, 1), 0 2px 3px rgba(189, 198, 210, 1);

      background: #0e617c;

      & h4 {
        grid-area: h4;
        padding-bottom: 20px;
        font-size: 2rem;
        color: var(--cor-primaria);
      }

      & p {
        grid-area: p;
        font-size: 2rem;
        color: var(--cor-primaria);
      }
    }
  }

  & #div_outros_servicos {
    grid-area: outros_servicos;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    grid-template-areas: "card_2 card_1 card_3";

    & #card_atendimento_personalizado {
      grid-area: card_1;
    }

    & #card_solucoes_sob_medida {
      grid-area: card_2;
    }

    & #card_suporte_tecnico {
      grid-area: card_3;
    }

    & .div_cards {
      display: grid;
      grid-template-rows: auto auto 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "img"
        "h4"
        "p";
      text-align: center;
      justify-items: center;
      align-items: baseline;
      position: relative;
      border-radius: 50px;
      padding: 30px;
      box-shadow: 3px 2px 3px rgba(189, 198, 210, 1),
        -3px 2px 3px rgba(189, 198, 210, 1), 0 2px 3px rgba(189, 198, 210, 1);

      & img {
        grid-area: img;
        height: 100%;
        padding-bottom: 20px;
      }

      & h4 {
        grid-area: h4;
        padding-bottom: 20px;
        font-size: 2rem;
      }

      & p {
        grid-area: p;
        font-size: 2rem;
      }
    }
  }
}

/* /SERVICOS SECTION */

#section_contate_nos {
  grid-area: nos-contate;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
  row-gap: 50px;

  & h4 {
    font-size: 3rem;
    text-align: center;
    line-height: 3.5rem;
  }

  & button {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    padding: 20px 50px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 20px;
    border: solid 4px var(--cor-secundaria);
    width: fit-content;
    height: fit-content;
    cursor: pointer;
  }

  & button:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    scale: 1.1;
  }
}

/* MAIN */

footer {
  grid-area: footer;
  background: var(--gradiente);
  padding: 40px 100px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: repeat(5, auto);
  row-gap: 10px;
  column-gap: 100px;
  grid-template-areas:
    "logo logo logo"
    "p1 nav-bar redes-sociais"
    "redes-sociais-icons nav-bar redes-sociais"
    "p2 nav-bar redes-sociais"
    "p3 p3 p3";

  position: relative;
  overflow: hidden;

  & * {
    color: var(--cor-primaria);
  }

  & #logo_footer {
    grid-area: logo;
    width: 15%;
  }

  & #p_1 {
    grid-area: p1;
  }

  & #redes_sociais_icons {
    grid-area: redes-sociais-icons;

    font-size: 3rem;
  }

  & #p_2 {
    grid-area: p2;
  }

  & .div_links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.5rem;

    & a {
      border-bottom: 2px solid transparent;
      transition: 0.5s;
      width: fit-content;
    }

    & a:hover {
      border-bottom: 2px solid var(--cor-primaria);
    }
  }

  & #nav_bar_footer {
    grid-area: nav-bar;
  }

  & #redes_sociais_footer {
    grid-area: redes-sociais;
  }

  & #p_direitos_reservados {
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px rgba(189, 198, 210, 0.642);
    grid-area: p3;
  }
}

#menu-toggle,
#header .navbar.active {
  display: none;
}

@media screen and (max-width: 436px) {
  #menu-toggle {
    display: block;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 2;
    color: white; /* Para visibilidade */
  }

  #header .navbar {
    display: none;
    position: fixed;
    top: 83px;
    right: 0;
    width: 100%;
    background: var(--gradiente);
    flex-direction: column;
    padding: 0px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
  }

  #navbar_conatainer_link_sections{
    display: flex;
    flex-direction: column;
  }

  #header .navbar.active {
    display: flex;
    transform: translateY(0);
    padding: 10px;
  }

  #navbar_conatainer_link_sections a,
  #navbar_conatainer_link_cadastro_login button {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    border: none;
    background: none;
  }

  #navbar_conatainer_link_cadastro_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }

  #navbar_conatainer_link_cadastro_login span {
    display: none; /* Oculta a barra divisória */
  }

  /* Animação para o botão de menu */
  #menu-toggle.active {
    transform: rotate(90deg);
    transition: transform 0.3s;
  }

  main #section_home {
    display: flex;
    flex-direction: column;
    padding: 30px;


    & img {
      filter: brightness(0.5) blur(2px);
    }

    & a {
      position: absolute;
      top: 395px;
      left: 63px;
    }

    & h1 {
      font-size: 20px;
      position: absolute;
      width: 80%;
      text-align: center;
      padding: 20px;
      top: 165px;
      left: 42px;
    }


  }

  #section_sobre_nos #section_o_que_fazemos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    & div{
      margin: 20px;

    & #reservatorio_img_3{
      display: none;
    }
    }

    ul li{
      padding: 0;
    }
  }

  #section_sobre_nos #section_quem_somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    & img{
      display: none;
    }
  }

  #section_sobre_nos #section_nossa_equipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;


    & .integrante{
      display: flex;
      flex-direction: column;
    }
  }

  #section_sobre_nos #section_missao_visao_valores{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    & .div_container_missao_visao_valores{
      display: flex;
      flex-direction: column;
      align-items: center;


      & img{
        width: 50%;
      }
    }
  }

  #section_calculadora{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    & #calculadora_card{
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background:url("../assets/calculadora-section/calculadora-section-background.svg");
      background-size: contain;

    & a{
      align-self: center;
      padding: 5px 10px;
      margin: 10px;
    }
    }
    
  }

  #section_servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;


    & #div_beneficios{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
    }

    & #div_servicos{
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    & #div_outros_servicos{
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  #section_contate_nos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

  }

  footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: unset;
    row-gap: 15px;
  }

  #logo_footer {
    width: 100px; /* Ajuste conforme necessário */
    margin-bottom: 15px;
  }

  #p_1, #p_2, #p_direitos_reservados {
    text-align: center;
    padding: 0 10px;
  }

  #redes_sociais_icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
  }

  #nav_bar_footer, #redes_sociais_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  #nav_bar_footer h4, #redes_sociais_footer h4 {
    margin-bottom: 10px;
  }

  #nav_bar_footer a, #redes_sociais_footer a {
    margin-bottom: 5px;
  }
}